<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style-admin.css">
    <title>Painel Administrativo</title>
</head>
<body>
    <header>
        <div class="admin-center">
            <div class="admin-logo">
                <h3>Painel Administrativo</h3>
                <h3 style="display: flex;">Seja bem-vindo(a) <%- name %> ✋ <p><a href="/admin/deslogar" class="admin-deslogar">deslogar</a></p></h3>
            </div><!--admin-logo-->
        </div><!--admin-center-->
    </header>
    <div class="form-noticia">
        <h2>Qual vai ser a boa hoje?</h2>
        <p>Use o formulário abaixo para cadastrar sua noticia</p>

        <form enctype="multipart/form-data" class="form-cadastro" method="post" action="/admin/cadastro">
            <input type="text" name="titulo_noticia" placeholder="Tituto da noticia..."/>
            <input type="text" name="url_imagem" placeholder="Imagem da noticia..."/>
            <input type="file" name="arquivo"/>
            <input type="text" name="slug" placeholder="Url da noticia..."/>
            <input type="text" name="categoria" placeholder="categoria da noticia..."/>
            <input type="text" name="autor" placeholder="Autor da noticia..."/>
            <textarea name="noticia" id="textarea" cols="30" rows="10" placeholder="Informações da noticia..."></textarea>
            <input type="submit" value="Cadastrar Noticia">
        </form>
    </div>
    <div class="gerenciando-noticia">
        <div class="noticia-center">
            <h2>Gerencie as noticias</h2>

                <% for(let i = 0; i < posts.length; i++) { %> 
                    <div class="single-noticia">   
                        <h3>Titulo da noticia: <%= posts[i].titulo %></h3><a href="/admin/apagar/<%= posts[i].id %>">Apagar Noticia</a>
                    </div>
                <% } %> 
        </div>
    </div>
</body>
</html>